@import '~theme';

header.header {
  background-color: $header-background;
  padding: 20px 0;

  img.logo {
    max-width: 300px;
  }

  nav.header-nav {
    padding: 3px;
    width: 100%;
    flex: 0 0 auto;
    float: right;
    display: flex;
    max-width: 500px;
    font-size: 14px;
    justify-content: space-between;

    @media (max-width: 1200px) {
      margin-top: 30px;
    }

    a.item {
      text-transform: uppercase;
      color: $white;
      &:hover {
        color: $light-blue;
      }
      &.active {
        font-weight: 800;
      }
    }
  }
}
