@import '~theme';

header.header {
  background-color: $header-background;
  padding: 20px 0;

  row {
    justify-content: space-between;
    align-items: center;
  }

  .social-nav {
    font-size: 12px;
    margin: -3px 20px 0;

    a {
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
    }
  }

  img.logo {
    max-width: 240px;
    margin-left: 20px;
    display: inline-block;
  }

  img.logo-icon {
    height: 45px;
    display: inline-block;
  }

  nav.header-nav {
    padding: 3px;
    width: 100%;
    flex: 0 0 auto;
    float: right;
    display: flex;
    max-width: 500px;
    font-size: 14px;
    justify-content: space-around;

    @media (max-width: 1200px) {
      margin-top: 30px;
    }

    a.item {
      text-transform: uppercase;
      color: $white;
      &:hover {
        color: $light-blue;
      }
      &.active {
        font-weight: 800;
      }
    }
  }
}
