@import '~theme';

.event-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .event-row {
    justify-content: space-between;
    align-items: center;
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 1.3em;
    padding-right: 1.3em;
    background-color: rgba(0, 0, 0, 0.6);
    transition: transform 0.25s;

    &:hover {
      transform: scale(1.05);
    }

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.9);
    }

    &.event-row-passed {
      opacity: 0.75;
      pointer-events: none;
      border: 1px solid $orange;

      .event-date {
        color: $orange;
      }
    }

    transition: all 0.25s;

    &.event-row-collapsed {
      max-height: 0;
      opacity: 0;
      pointer-events: none;
      position: relative;
      box-sizing: border-box;
      margin-bottom: -1px;
      margin-top: -1px;
    }

    @media (max-width: 992px) {
      flex-direction: column;

      .event-setting {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: none;
      }

      .event-date, .event-tickets {
        flex-basis: auto;
      }
    }
  }

  .event-date {
    flex: 0 0 4.5em;
    font-size: 1.5em;
    font-weight: bold;
    font-family: $title-font;

    &.event-date-short {
      flex-basis: auto;
    }
  }

  .event-date, .event-venue, .event-city {
    padding: 0.55em 0;
  }

  .event-setting {
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    justify-content: center;
    font-size: 1.3em;
    font-family: $title-font;
  }

  .event-venue, .event-city {
    padding: 0.55em 0.3em;
    flex: 0 0 auto;
  }

  .event-venue {
    font-weight: 300;
  }

  .event-city {
    font-weight: 700;
    color: $light-blue;
  }

  .event-tickets {
    button {
      width: 100%;
      font-size: 0.7em;
      border: 1px solid fade-out($white, 0.6);

      .icon {
        margin-left: 10px;
      }
    }
  }

  .past-events-toggle {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    cursor: pointer;
    transition: background 0.25s;

    &:hover {
      color: $orange;
      background-color: fade-out(black, 0.3);
    }

    .icon {
      margin-left: 5px;
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .event-setting {
      max-width: none;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 1200px) {
    .event-setting {
      padding: 10px;

      .event-venue, .event-city {
        padding: 0;
      }
    }
  }
}
