.AboutPane {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex-wrap: wrap;
  position: relative;


  &:nth-child(even) {
    @media (min-width: 992px) {
      .about-photo-box {
        order: 1;
      }
    }
  }
}
