.Header {
  padding-top: $panel-spacing;
  margin: $panel-spacing 0 20px;

  .logo {
    @include alive;
    max-width: 100%;
    @media (min-width: 768px) {
      max-width: 70%;
    }
  }
  @media (max-width: 768px) {
    padding-top: $panel-spacing * 2;
  }

  .NavMenu {
    @media (max-width: 768px) {
      justify-content: center;
    }
  }
}
