.NavMenu {
  display: flex;
  justify-content: flex-end;

  &.header-nav {
    .item {
      @include transition;
      @extend .white;
      font-weight: 100;

      flex: none;
      padding: 20px 15px;
      margin: 0 0.5vw;
      border-bottom-width: 4px;
      border-bottom-style: solid;
      border-bottom-color: transparent;

      &:hover {
        transform: scale(1.1);
      }

      &.active {
        border-bottom-color: $orange;
        font-weight: 600;
      }
    }
  }

  &.footer-nav {
    .item {
      @extend .silver;
      font-weight: 500;
      flex: none;
      margin: 0 5px;

      &::after {
        @extend .light-gray;
        content: '••• ';
        margin-left: 10px;
        margin-right: 5px;
      }
      &:last-child::after {
        display: none;
      }

      &:hover {
        @extend .blue;
      }
      &.active {
        @extend .orange;
        transform: scale(1.2);
      }
    }
  }
}
