.NewsPanel-Wrapper {
  margin: 0 0 $panel-spacing;
}

.NewsPanel {
  padding: 20px;
  overflow: hidden;
}

.NewsItem {
  .NewsItem-Feature {
    height: 300px;

    img {
      max-width: 100%;
    }
  }
}
