.SectionHeading {
  $base-color: fade-out($light-gray, 0.1);
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: $panel-spacing;

  h1, h2, h3, h4, h5, h6 {
    @include transition;
    color: $base-color;
    margin: 0 25px;
    flex: 0 0 auto;
    font-weight: 700;
    text-transform: uppercase;
  }
  hr {
    @include transition;
    flex: 1;
    border: none;
    border-bottom: 1px dashed darken($base-color, 10%);
  }
  &:hover {
    h1,h2,h3,h4,h5,h6 { color: $red; }
    hr {
      border-bottom-color: $red;
    }
  }
  .icon {
    transform: scale(0.8);
    margin-right: 15px;
  }
}
