.contact-page {
  .contact-content {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 110px);
  }

  .contact-item {
    flex-direction: column;
    margin-bottom: 10vh;

    box {
      padding: 20px;
    }

    .contact-type {
      height: 100px;
    }

    .contact-info {
      margin: 0;
      word-wrap: break-word;

      tel, a {
        display: block;
      }

      a {
        text-transform: uppercase;
        font-weight: bold;
        word-wrap: break-word;
        margin: 10px 0;
      }
    }
  }
}
