@import '~theme';

.home-page {
  .slide-panel {
    .icon-menu {
      a {
        color: $white;
      }
    }
  }

  .newsletter-signup-caption {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 3px;
    height: auto;
  }
}
