@import '../theme/palette';

button {
  transition: all 0.25s;
  padding: 15px 40px;
  border: 1px solid transparent;
  background-color: $black;
  color: $white;
  letter-spacing: 2px;
  font-size: 16px;
  border-radius: 4px;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;

  .icon-right {
    margin-left: 15px;
  }

  &:hover {
    transform: scale(1.05);
    background-color: $blue;
  }

  &.sleek {
    width: auto;
    border: none;
    display: inline-block;
    background: transparent;
    font-size: 1rem;
    padding: 5px;
    border-bottom: 1px solid $white;
  }

  &.btn-center {
    display: block;
    margin: 10px auto;
  }

  &.btn-light {
    color: $black;
    background-color: $white;
    &:hover {
      background-color: $grey;
    }
  }

  &.btn-blue {
    color: $white;
    background-color: $blue;
  }

  &.btn-dark {
    background-color: $black;
  }

  &.attache {
    border: 1px solid $white;
    border-radius: 5px;
    padding: 10px 12px;
    margin: 0 10px;
    .icon {
      transform: scale(1.4);
    }
  }
}
