@import '~theme';

.music-page {
  display: block;
  padding: 60vh 0 30px;
  background-image: url('/assets/background-wall.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 70% 35%;
}
