@import url("https://use.typekit.net/xrc4lpz.css");
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

$title-font: 'rift', 'Helvetica Neue Condensed', 'Helvetica Condensed', 'Helvetica Neue', 'Helvetica', 'Arial Narrow';
$body-font: 'Montserrat', 'Futura', 'Century Gothic', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif', 'FontAwesome';
$serif-font: 'Cormorant Garamond', 'Adobe Caslon Pro', 'Palatino', 'Caslon', 'Georgia', 'FontAwesome';
