@import '~theme';

footer.footer {
  display: flex;
  justify-content: space-around;
  background-color: $black;
  align-items: center;
  font-size: 15px;
  // margin-top: 3.33vh;
  color: $grey;

  @media (max-width: 992px) {
    flex-direction: column;
  }

  .footer-item {
    padding: 30px 10px;
    flex: 0 0 auto;
  }

  .icon-menu {
    .item {
      opacity: 0.2;
      transition: all 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .footer-nav {
      .item {
          padding: 5px 10px;
          letter-spacing: 0.2px;
          text-transform: uppercase;

          @media (max-width: 768px) {
            padding: 5px;
          }
      }
  }
}
