.about-page {
  background-color: var(--color-black);
}

.about-pane {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 50px 20px;
  font-family: var(--font-serif);
  font-weight: 300;
  font-size: 1.15em;
}

@media (max-width: 768px) {
  .about-pane {
    font-size: 15px;
  }
}

.about-pane .about-content-heading button {
  margin-left: 10px;
}

.about-pane:last-child {
  margin-bottom: 0;
}

.about-pane.has-image {
  padding-top: 50vh;
}

.about-pane .about-image {
  min-width: 100vw;
  min-height: 90vh;
  background-size: cover;
  position: absolute;
  background-position: center center;
  top: 0;
  left: 0;
  box-shadow: inset 0 -20vh 20vh rgba(12, 14, 14, 1);
}

.about-pane .about-content {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.about-pane .about-content p {
  line-height: 1.8;
}
