.contact-page {
  min-height: 80vh;

  .contact-content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
  }

  .contact-item {
    flex-direction: column;

    box {
      padding: 20px;
    }

    .contact-type {
      height: 100px;
    }

    .contact-info {
      margin: 0;
      word-wrap: break-word;

      tel, a {
        display: block;
      }

      a {
        text-transform: uppercase;
        font-weight: bold;
        word-wrap: break-word;
        margin: 10px 0;
      }
    }
  }
}
