.card-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 100%;

  .card {
    margin: 15px;

    &.card-axis-y {
      flex: 1 0 calc(33% - 30px);
    }

    &.card-axis-x {
      flex: 1 0 calc(50% - 30px);
    }

    @media (max-width: 768px) {
      &, &.card-axis-x, &.card-axis-y {
        flex-basis: 100%;
      }
    }
  }
}
